<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>REKANAN - Rekomendasi Resep Makanan | Upload</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/2a01a4ff3b.js" crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column min-vh-100 m-0 p-0">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand text-white" href="/">
        <img src="{{ url_for('static', filename='img/rekanan.png') }}" alt="logo" class="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>  
  </nav>

  <!-- Upload Section -->
  <div class="container my-5">
    <!-- Form -->
    <form method="post" action="" enctype='multipart/form-data'>
      <div class="mb-3">
        <label for="inpFile" class="form-label">Upload gambar makanan</label>
        <input class="form-control" type="file" id="inpFile" name="inpFile" accept="image/*" onchange="readURL(this);">
      </div>
      <div class="image-preview" id="imagePreview">
        <img src="" alt="Image Preview" class="image-preview__image" style="display: none; width: 50%;">
        <span class="image-preview__default-text">Image Preview</span>
      </div>
      <button type="submit">Cari Resep</button>
    </form>

    <!-- Result -->
    {% if result is defined %}
    <div class="my-5">
      <!-- Prediksi -->
      <h2 class="mb-4">Hasil Prediksi: {{ result }} dengan probabilitas: {{ result_prob }}</h2>
      <!-- Tabel -->
      <!-- <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Ranking</th>
            <th scope="col">Class Label</th>
            <th scope="col">Probabilitas</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1st</td>
            <td>{{ result['class1'] }}</td>
            <td>{{ result['prob1'] }} %</td>
          </tr>
          <tr>
            <td>2nd</td>
            <td>{{ result['class2'] }}</td>
            <td>{{ result['prob2'] }} %</td>
          </tr>
          <tr>
            <td>3rd</td>
            <td>{{ result['class3'] }}</td>
            <td>{{ result['prob3'] }} %</td>
          </tr>
        </tbody>
      </table> -->
      
      <div class="row my-5">
        <div class="col">
          <h3>Resep 1:</h3>
          <p>{{ recipe_1 }}</p>
        </div>
        <div class="col">
          <h3>Resep 2:</h3>
          <p>{{ recipe_2 }}</p>
        </div>
        <div class="col">
          <h3>Resep 3:</h3>
          <p>{{ recipe_3 }}</p>
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  
  <script>
    const inpFile = document.getElementById('inpFile');
    const previewContainer = document.getElementById('imagePreview');
    const previewImage = previewContainer.querySelector('.image-preview__image');
    const previewDefaultText = previewContainer.querySelector('.image-preview__default-text');

    inpFile.addEventListener('change', function() {
      const file = this.files[0];

      if (file) {
        const reader = new FileReader();

        previewDefaultText.style.display = 'none';
        previewImage.style.display = 'block';

        reader.addEventListener('load', function() {
          console.log(this);
          previewImage.setAttribute('src', this.result);
        })

        reader.readAsDataURL(file);
      } else {
        previewDefaultText.style.display = null;
        previewImage.style.display = null;
        previewImage.setAttribute('src', '');
      }
    })
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>